* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: "Raleway", sans-serif;
  --color-primary: linear-gradient(#33A8DB, #1472B7);
  --bg-footer: linear-gradient(180deg, rgba(0, 0, 0, 1) 58%, rgba(4, 51, 87, 1) 100%);
}

body {
  height: 100%;
  margin: 0 auto;
}

.logo {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 250px;
  width: 250px;
  display: grid;
  place-items: center;
}

.banner {
  background-image: url('/trilha-css-desafio-01/assets/images/image-2.png');
  background-color: rgb(4, 13, 6);
  background-repeat: no-repeat;
  background-size: cover;
  height: 605px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #33A8DB;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 493px;
  text-align: center;
}

.banner-content h1 {
  font-family: var(--font-primary);
  font-size: 40px;
  text-transform: uppercase;
  background: var(--color-primary);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 16px 0;
  font-weight: 900;
}

.banner-content p {
  font-family: var(--font-primary);
  color: #fff;
  padding: 16px 0;
  font-size: 20px;
}

button {
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-weight: bolder;
  color: #31A8DD;
  font-size: 16px;
  border: 1px solid #31A8DD;
  padding: 19px 35px;
  background-color: transparent;
}

main {
  background-color: #000;
}

#course-content {
  width: 792px;
  height: 325;
  margin: 0 auto;
  padding: 24px;
  text-align: center;
  margin-bottom: 144px;
}

#course-content h2 {
  margin-top: 64px;
  font-family: var(--font-primary);
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #33A8DB;
}

#course-content p {
  font-family: var(--font-primary);
  font-size: 16px;
  color: #fff;
  padding: 24px;
}

.modules-list {
  padding: 24px;
}

.module {
  padding: 16px;
  color: #fff;
  font-family: var(--font-primary);
  font-size: 16px;
  border: 1px solid #33A8DB;
  border-radius: 57px;
  margin: 20px;
  background-color: #252525;
}

.module span {
  color: #33A8DB;
}

#transform-world {
  height: 363px;
  background-image: url('/trilha-css-desafio-01/assets/images/woman-code.png');
  background-size: cover;
  background-attachment: fixed;
}

#transform-world p {
  font-family: var(--font-primary);
  color: #fff;
  font-weight: bolder;
  font-size: 40px;
  width: 244px;
  height: 141;
  text-transform: lowercase;
  filter: drop-shadow(3px 2px 1px #33A8DB);
  position: relative;
  top: 6rem;
  left: 20%;
}

#professional-challenges {
  text-align: center;
  height: 750px;
  border-bottom: 1px solid #33A8DB;
}

#professional-challenges h2 {
  font-family: var(--font-primary);
  color: #33A8DB;
  margin: 0 auto;
  font-size: 32px;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 24px;
  width: 746px;
  margin-top: 50px;
}

#professional-challenges p {
  color: #fff;
  width: 792px;
  margin: 50px auto;
  padding: 20px;
  font-family: var(--font-primary);
}

footer {
  background-image: var(--bg-footer);
  height: 170px;
  text-align: center;
  padding: 60px;
  color: #fff;
}

footer p {
  font-family: var(--font-primary);
  font-size: 16px;
}

footer a {
  color: #33A8DB;
  text-decoration: none;
}